{% extends "base.html" %}

{% block title %}Lista de Importações{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Detalhes do arquivo: {{ file.filename }}</th>
                <th></th>
            </tr>
            <tr>
                <th scope="col">Filme</th>
                <th scope="col">Duração</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            {% for row in object %}
                <tr>
                    {% for column in row %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}