{% extends "base.html" %}

{% block title %}Lista de Importações{% endblock %}

{% block content %}

<table class="table">
<thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Arquivo</th>
        <th scope="col">Ações</th>
        <th scope="col"><a class="btn btn-primary" href="upload">Upload</a></th>
    </tr>
</thead>
<tbody>
        {% for file in object_list %}
            <tr>
                <th scope="row">{{ file.id }}</th>
                <th scope="row">{{ file.filename }}</th>
                <th scope="row">
                    <a class="btn btn-primary" href="{{ file.id }}/details">Detalhes</a>
                    <a class="btn btn-danger" href="{{ file.id }}/delete">Deletar</a>
                </th>
            </tr>
        {% endfor %}
</tbody>
</table>
{% endblock %}